.collapsible{
    background-color: #2B2D42;
    color:#78C0E0;
    border-radius:2px;
    overflow:hidden;

}

.collapsible:hover{
    background-color: #4F8585;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  background-color:#2B2D42;
}

li {
  float: left;
}
